*{
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../img/pattern.png") ;
    background-color: #4ea0ff ;
    background-size: 250px;
}

#didascalia_titolo{
    font-size: 12px;
    color: gray;
}

#blue{
    color: #4ea0ff;
}

#data{
    font-size: 10px;
}

#logo {
    width: 100px;
    margin-top: 20px;
}

#didascalia_foto{
    font-size: 10px;
}

h1{
    margin-bottom: 0%;
}

#titolo {
    font-size: 6px;
}

th, td{
    border: 0;
}

thead{
    border: 0;
    background-color: #21a8e4;
    color: white;
}

tbody{
    background-color: #b2e4f2;
}

#white{
    background-color: white;
}

#container {
    position: relative;
    text-align: center;
    color: white;
  }

.consigliati{
  position: absolute;
  top: 8px;
  left: 16px;
}